{{>layouts/header}}
{{#reviewEntity}}

    <div style="margin-bottom: 100px;"></div>



<div class="container">

    <span class="badge bg-secondary" style="float:right">{{movieTitle}}</span>
    <span class="badge bg-danger" style="float:right">{{score}}</span>
    <div style="clear:both"></div>
    <div style="margin-bottom: 10px;"></div>


    <div class="card">
        <div class="card-header">
            <h5 style="float:left">{{title}}</h5>
            <p style="float:right">{{writer}}</p>
        </div>
        <div class="card-body">
            <p class="card-text">{{content}}</p>
        </div>
    </div>


    <div style="margin-bottom: 10px;"></div>


        <a href="/review/edit/{{id}}">수정</a>
        <a href="/review/delete/{{id}}">삭제</a>
        <a href="/review">Back</a>


</div>



    <div style="margin-bottom: 100px;"></div>

{{/reviewEntity}}

{{>layouts/footer}}