{{>layouts/header}}

{{#userDto}}

<div class="container">
    <form class="form-signin" method="post" action="#"> <!-- action: -->
        <h2 class="form-signin-heading">Please sign up</h2>

        <label for="inputEmail" class="sr-only">username</label>
        <input type="text" name="username" class="form-control" placeholder="username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password"  name="password" class="form-control" placeholder="Password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>
    <a href="/sign/signin">이미 회원이세요? 로그인하러 가기</a>
</div>
{{/userDto}}

{{>layouts/footer}}