{{>layouts/header}}

{{#userDto}}

    <div class="container">
        <form class="form-signin" method="post" action="/signup"> <!-- action: -->
            <h2 class="form-signin-heading">Please sign up</h2>

            <label for="inputEmail" class="sr-only">username</label>
            <input type="text" name="username" class="form-control" placeholder="username" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password"  name="password" class="form-control" placeholder="Password" required>
            <div>
                <span>로그인 유지하기</span>
                <input type="checkbox" id="remember-me" name="remember-me" class="form-check-input mt-0" autocomplete="off">
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
        <a href="/sign/signin">계정이 없으신가요? 회원가입하러 가기</a>
    </div>
{{/userDto}}

{{>layouts/footer}}